@charset "ISO-8859-1";

 #circle {
            padding:140px 60px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 50%;
            background: black;
            margin:105px auto 105px auto;
            width:100%;
            max-width:30%;
         }

